 /* General Styles */
.Aard {

  background-color: #eaf7e4;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border:  1px solid #c3dfb2;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.651);
  text-align: left;
  box-sizing: border-box;
  overflow: visible;
  transition: all 0.3s ease;
  
}

.Aard h3 {
  font-size: 1.8rem;
  color: #052e05;
  margin-bottom: 15px;
}

.Aard p {
  font-size: 1.3rem;
  color: #547c4ad0;
  margin-top: 0;
}

 

.Aard ol li {
  font-size: 1.4rem;
  color: #155a0c;
  margin-bottom: 0;
  padding-left: 40px;
}

.Aard:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.Aard:hover h3 {
  color: #0d3f03;
}

.Aard:hover p,
.Aard:hover ol li {
  color: #0c5a2a;
}

/* Career Guidance Section */
.career-guidance-cards {
  padding: 50px;
  margin: 0 auto;
  max-width: 1800px;
  background-color: #ffffffdc;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  opacity: 0;
  animation: fadeInUp 1s forwards;
}

.career-guidance-header {
  margin-bottom: 40px;
  align-items: center;
}

.career-guidance-header h1 {
  font-size: 3rem;
  color: #012c12;
  font-family:'Times New Roman', Times, serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
  padding: 10px 0;
  animation: slideInDown 1s ease-out;
  text-align: center;
  justify-content: center;
}

.career-guidance-header p {
  font-size: 1.2rem;
  color: #4b5d16;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto 30px;
  animation: fadeIn 1s forwards;
}

/* Career Guidance Cards */
.career-guidance-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.Aard {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.411);
  flex-basis: 22%;  /* Ensuring enough space between the cards */
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0;
  animation: fadeInUp 0.8s forwards;
  font-size: 1.3em;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .career-guidance-cards {
    flex-direction: column;
    align-items: center;
  }

  .Aard {
    width: 80%;
    margin-bottom: 20px;
    padding: 20px;
  }

  .career-guidance-header h1 {
    font-size: 2.5rem;
  }

  .career-guidance-header p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .career-guidance-header h1 {
    font-size: 2rem;
  }

  .career-guidance-header p {
    font-size: 1rem;
  }

  .Aard {
    width: 100%;
    min-height: 450px;
    padding: 20px;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
